

<div class="admin-mode">
    {{#str}}debugmode, block_use_stats{{/str}}
    <input type="radio" name="debug" value="0" {{{debug0checked}}}> {{#str}}debugno, block_use_stats{{/str}} 
    <input type="radio" name="debug" value="1" {{{debug1checked}}}> {{#str}}debugaggregate, block_use_stats{{/str}}
    <input type="radio" name="debug" value="2" {{{debug2checked}}}> {{#str}}debugdetail, block_use_stats{{/str}}
</div>